// colors

$brand: #185a9d;
$contrast: #43cea2;

/* make the customizations */
$theme-colors: (
  "primary": $brand,
  "secondary": $contrast,
  "info": tomato,
  "danger": teal,
);

// breakpoints

// generic

.image__container {
  margin: 10px 0px;
  .image__preview {
    min-width: 250px;
    height: 200px;
  }
}
