.navbar {
  display: flex;
  .navbar__content {
    //
  }
  .navbar__search {
    flex-grow: 3;
    display: flex;

    @include media-breakpoint-up(md) {
      input {
        display: block;
        width: 75%;
        margin: 0 auto;
      }
    }
  }

  .navbar__links {
    flex-grow: 1;
    justify-content: flex-end;
  }
}

.subNavbar {
  display: flex;
  justify-content: space-between;
  background: white;
  border-top: 1px solid rgb(224, 224, 224);
  border-bottom: 1px solid rgb(224, 224, 224);
  transition: 0.4s ease;
  &:hover {
    height: auto;
  }
  .navItems {
    display: flex;
  }
  a {
    color: rgb(46, 46, 46);
  }
  .subNavbar__categories {
    display: none;
  }
  @media (min-width: 768px) {
    .subNavbar__categories {
      display: block;
      .subNavbar__category {
        margin: 0 10px;
      }
    }
  }
}

.searchBar {
}

// cart icon styles

.cart {
  .cart__icon {
  }

  .cart__quantity {
    color: white;
    background: rgba(27, 27, 27, 0.99);
    font-size: 12px;
    padding: 2px 5px;
    position: relative;
    top: -9px;
    left: -9px;
    border-radius: 300px;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &:hover {
    .cart__quantity {
      background: rgb(90, 90, 90);
    }
  }
}
